@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
  @apply m-0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
